In [8]:
### FLow Control Methods

# Create an if statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable", however if 'age' is less than 25, print "Renting a car is very expensive."

age = 33

if age >= 25:
    print("Renting a car is more affordable")
if age < 25:
    print("Renting a car is very expensive")
    
#Create a if else statement: if  age is greater than or equal to 25, print renting a car is more affordable. "If age is less than 18, print "Renting a care is very expensive. If less than 18, print" You cannot legally rent a car.

age = 17

if age >= 25:
    print("Renting a car is more affordable")
elif age <= 18:
    print("Renting a car is very expensive")
else:
    print("You cannot legally rent a car")

Renting a car is more affordable
Renting a car is very expensive

In [17]:
#Create a if else statement: if  age is greater than or equal to 25, print renting a car is more affordable. "If age is less than 18, print "Renting a care is very expensive. If less than 18, print" You cannot legally rent a car.

age = 17

if age >= 25:
    print("Renting a car is more affordable")
elif age < 25 and age == 18: 
    print("Renting a car is very expensive")
else :
    print("You cannot legally rent a car")

You cannot legally rent a car

In [21]:
# Loop over the following string to (1) count all the characters in the string and (2) print out all the vowels -- "The quick brown fox jumps over the lazy dog"

sentence = "The quick brown fox jumps over the lazy dog"

sum =0
for char in sentence:
    sum += int(1)
print(sum)

for vowels in sentence:
    if vowels in "aeiouAEIOU":
        print(vowels)

43
e
u
i
o
o
u
o
e
e
a
o

In [1]:
# Write a nested loop that prints out every piece of clothing from the couture list, in every fashionable color from the panettone set:

couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", 
           "vest", "french beret", "scarf", "stole"]
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", 
             "burnt sienna", "gunmetal blue", "Dark Sapphire"}

for x in couture:
    for y in panettone:
        print(y,x)

maple trousers
burnt sienna trousers
cerise trousers
fuchsia trousers
auburn trousers
aqua trousers
gunmetal blue trousers
Dark Sapphire trousers
maple blouse
burnt sienna blouse
cerise blouse
fuchsia blouse
auburn blouse
aqua blouse
gunmetal blue blouse
Dark Sapphire blouse
maple bandana
burnt sienna bandana
cerise bandana
fuchsia bandana
auburn bandana
aqua bandana
gunmetal blue bandana
Dark Sapphire bandana
maple cumber band
burnt sienna cumber band
cerise cumber band
fuchsia cumber band
auburn cumber band
aqua cumber band
gunmetal blue cumber band
Dark Sapphire cumber band
maple blazer
burnt sienna blazer
cerise blazer
fuchsia blazer
auburn blazer
aqua blazer
gunmetal blue blazer
Dark Sapphire blazer
maple vest
burnt sienna vest
cerise vest
fuchsia vest
auburn vest
aqua vest
gunmetal blue vest
Dark Sapphire vest
maple french beret
burnt sienna french beret
cerise french beret
fuchsia french beret
auburn french beret
aqua french beret
gunmetal blue french beret
Dark Sapphire french beret
maple scarf
burnt sienna scarf
cerise scarf
fuchsia scarf
auburn scarf
aqua scarf
gunmetal blue scarf
Dark Sapphire scarf
maple stole
burnt sienna stole
cerise stole
fuchsia stole
auburn stole
aqua stole
gunmetal blue stole
Dark Sapphire stole

In [10]:
# Use range as a loop to calculate the sum of all the numbers from 1 to 100

x= 0
for a in range(1,100):
    x = x + a
print(x)

4950

In [32]:
# Print the second item in this fruits list. ["apple", "banana", "cherry"]

fruits = ["apple", "banana", "cherry"]
print(fruits[1])

# Change the value from "apple" to "kiwi", in the fruits list. ["apple", "banana", "cherry"]

fruits[0] = "kiwi"
print(fruits)

#Use the append method to add "orange" to the fruits list. ["apple", "banana", "cherry"]

fruits.append("orange")
print(fruits)

# Use the insert method to add "lemon" as the second item in the fruits list. ["apple", "banana", "cherry"]

fruits.insert(1,"lemon")
print(fruits)

# Use the remove method to remove "banana" from the fruits list. ["apple", "banana", "cherry"]

fruits.remove("banana")
print(fruits)

banana
['kiwi', 'banana', 'cherry']
['kiwi', 'banana', 'cherry', 'orange']
['kiwi', 'lemon', 'banana', 'cherry', 'orange']
['kiwi', 'lemon', 'cherry', 'orange']

In [37]:
#Use negative indexing to print the 3rd and 2nd to last items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[-3:-1])

#Use a range of indexes to print the third, fourth, and fifth item in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(fruits[2:5])

#Use the correct syntax to print the number of items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

numoffruit = len(fruits)
print("Number of items in the list", numoffruit)

#Use the correct syntax to sort this list in reverse order ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruits.sort(reverse = True)
print(fruits)

['kiwi', 'melon']
['cherry', 'orange', 'kiwi']
Number of items in the list 7
['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']